<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFPredicateDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B5182321C7EA81C002C8889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B51824B1C7EA81C002C8889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B5182561C7EA81C002C8889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
